@charset "UTF-8";
/*!
 * Name: Basis v4.2.7
 * Description: The flexbox based CSS framework.
 * Author: Takashi Kitajima ( inc2734 )
 * Author URL: http://2inc.org
 * GitHub Repository: https://github.com/sass-basis/basis
 * License: MIT
 */
#header {
  background-color: #999;
}

#contents {
  background-color: #888;
  padding-top: 1.6rem;
}

#main {
  background-color: pink;
  padding: 1.6rem;
}

#main.p-single .single-meta .single-update {
  text-align: right;
  font-weight: bold;
}

#main.p-single .single-meta .single-tags {
  text-align: right;
}

#main.p-single .single-pager {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

#sidebar {
  background-color: orange;
  padding: 1.6rem;
}

#footer {
  background-color: #333;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.p-header-area1 {
  padding: .8rem;
  background-color: #fff;
}

.p-header-area2 {
  padding: .8rem;
  background-color: #aaa;
}

.c-archive-entry__body {
  padding: .8rem;
}

.c-archive-entry__body .c-archive-entry__title {
  margin-top: 0;
  font-size: 2.4rem;
}

.c-archive-entry__body .c-archive-entry__title a {
  text-decoration: none;
  color: #333;
}

.c-archive-entry__body .c-archive-entry__excerpt a {
  text-decoration: none;
  color: #333;
}

.c-archive-entry__body .c-archive-entry__meta {
  overflow: hidden;
  font-size: 1.2rem;
}

.c-archive-entry__body .c-archive-entry__meta .c-archive-entry__datetime {
  float: left;
  margin-right: 1.6rem;
}

.c-archive-entry__body .c-archive-entry__meta .c-archive-entry__tags {
  float: left;
}

.c-archive-entry__body .c-archive-entry__meta .c-archive-entry__tags a {
  text-decoration: none;
  color: #333;
}

#comments {
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
}

.commentlist {
  list-style: none;
  padding-left: 0;
}

.commentlist .comment {
  background-color: #fff;
  padding: .8rem;
  margin-bottom: 1.6rem;
  border: 1px solid #cccccc;
}

.commentlist .comment-metadata {
  font-size: 1.4rem;
  margin-bottom: .4rem;
}

.commentlist .comment-metadata a {
  text-decoration: none;
  color: #333;
}

.commentlist .reply {
  text-align: right;
  padding-right: .8rem;
  margin-bottom: .8rem;
}

.commentlist .children {
  list-style: none;
  padding: 0;
  margin-left: .8rem;
}

.comment-respond {
  background-color: #fff;
  padding: .8rem;
  margin-bottom: 1.6rem;
  border: .1rem solid #cccccc;
}

.comment-respond .comment-reply-title {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.comment-respond .comment-form .comment-form-comment label {
  display: block;
  margin-bottom: .4rem;
}

.comment-respond .comment-form .comment-form-author {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.comment-respond .comment-form .comment-form-author label {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  -webkit-flex: 0 1 33.33333%;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  max-width: 33.33333%;
  padding: .8rem 0;
}

.comment-respond .comment-form .comment-form-author input[type=text] {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  -webkit-flex: 0 1 66.66667%;
      -ms-flex: 0 1 66.66667%;
          flex: 0 1 66.66667%;
  max-width: 66.66667%;
  width: 100%;
}

.comment-respond .comment-form .comment-form-email {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.comment-respond .comment-form .comment-form-email label {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  -webkit-flex: 0 1 33.33333%;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  max-width: 33.33333%;
  padding: .8rem 0;
}

.comment-respond .comment-form .comment-form-email input[type=email] {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  -webkit-flex: 0 1 66.66667%;
      -ms-flex: 0 1 66.66667%;
          flex: 0 1 66.66667%;
  max-width: 66.66667%;
  width: 100%;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-respond .comment-form .comment-form-url {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.comment-respond .comment-form .comment-form-url label {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  -webkit-flex: 0 1 33.33333%;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  max-width: 33.33333%;
  padding: .8rem 0;
}

.comment-respond .comment-form .comment-form-url input[type=url] {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  -webkit-flex: 0 1 66.66667%;
      -ms-flex: 0 1 66.66667%;
          flex: 0 1 66.66667%;
  max-width: 66.66667%;
  width: 100%;
}

.comment-respond .comment-form .form-submit {
  margin-bottom: 0;
}

.comment-respond .comment-form input[type=text], .comment-respond .comment-form input[type=email], .comment-respond .comment-form input[type=url] {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: .8rem 1.6rem;
}

.comment-respond .comment-form input[type=submit] {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: .8rem 1.6rem;
  cursor: pointer;
}

.comment-respond .comment-form textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: .8rem 1.6rem;
  width: 100%;
  height: auto;
}

.c-form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: .8rem 1.6rem;
  max-width: 100%;
  color: #333;
}

@media (max-width: 40rem) {
  ._c-row_col--sm-1-1 {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
  }
}

.c-row--reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.c-row--nowrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.widget_rss ul {
  padding-left: 2.4rem;
}

.widget_rss ul li {
  margin-bottom: .8rem;
  color: #666;
}

.widget_rss ul li .rssSummary {
  margin-top: .8rem;
  margin-bottom: .8rem;
  font-size: 1.4rem;
}

.widget_rss ul li cite {
  font-size: 1.4rem;
}

.widget_rss ul li .rss-date {
  font-size: 1.4rem;
}

.widget_recent_entries ul {
  padding-left: 2.4rem;
}

.widget_recent_entries ul li {
  color: #aaa;
  margin-bottom: .8rem;
}

.widget_recent_entries ul li a {
  margin-right: .4rem;
}

.widget_recent_entries ul li .post-date {
  font-size: 1.2rem;
  color: #666;
}

.widget_nav_menu .menu {
  padding-left: 2.4rem;
}

.widget_nav_menu .menu .menu-item {
  margin-top: .8rem;
  margin-bottom: .8rem;
  color: #666;
}

.widget_nav_menu .menu .menu-item .sub-menu {
  padding-left: 0;
  margin-left: .8rem;
}

.widget_nav_menu .menu .menu-item .sub-menu .menu-item {
  list-style: none;
}

.widget_nav_menu .menu .menu-item .sub-menu .menu-item:before {
  content: 'ー';
  margin-right: .8rem;
}

.widget_categories .postform {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.035);
  padding: 0.6rem 1.2rem;
}

.widget_categories .postform[disabled] {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.widget_categories .postform[readonly] {
  background-color: #eeeeee;
}

.widget_categories ul {
  padding-left: 2.4rem;
}

.widget_categories ul .cat-item {
  margin-top: .8rem;
  margin-bottom: .8rem;
  color: #666;
}

.widget_categories ul .cat-item .children {
  padding-left: 0;
  margin-left: .8rem;
}

.widget_categories ul .cat-item .children .cat-item {
  list-style: none;
}

.widget_categories ul .cat-item .children .cat-item:before {
  content: 'ー';
  margin-right: .8rem;
}

.widget_archive select {
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.035);
  padding: 0.6rem 1.2rem;
}

.widget_archive select[disabled] {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.widget_archive select[readonly] {
  background-color: #eeeeee;
}

.widget_archive ul {
  padding-left: 2.4rem;
}

.widget_archive ul li {
  margin-bottom: .8rem;
  color: #666;
}

.widget_tag_cloud .tagcloud a {
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 3.2rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  padding-left: .8rem;
  padding-right: .8rem;
  margin-bottom: .4rem;
  font-size: 1.2rem;
}

.widget_recent_comments ul {
  padding-left: 2.4rem;
}

.widget_recent_comments ul .recentcomments {
  margin-bottom: .8rem;
  color: #666;
}

.widget_calendar #wp-calendar {
  width: 100%;
}

.widget_calendar #wp-calendar tbody tr td {
  text-align: center;
}

.widget_pages ul {
  padding-left: 2.4rem;
}

.widget_pages ul .page_item {
  margin-bottom: .8rem;
  color: #666;
}

.widget_meta ul {
  padding-left: 2.4rem;
}

.widget_meta ul li {
  margin-bottom: .8rem;
  color: #666;
}

.p-archive .p-archive__title {
  font-size: 2.8rem;
  margin-bottom: 1.6rem;
  color: #333;
}

.p-archive .p-archive__description {
  border: .1rem solid #cccccc;
  background-color: #fff;
  padding: .8rem;
  margin-bottom: 3.2rem;
}

.p-archive .p-archive__description p:last-child {
  margin-bottom: 0;
}

.p-archive .p-archive__entry {
  margin-bottom: 3.2rem;
  padding-bottom: 2.4rem;
  border: .1rem solid #cccccc;
  background-color: #fff;
}

.p-footer .p-widget {
  border: 1px solid #cccccc;
  padding: .8rem;
  background-color: #eee;
}

.p-footer .p-widget .p-widget__title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
  text-align: center;
}

.p-footer .p-footer__copyright {
  font-size: 1.4rem;
  color: #eee;
  text-align: center;
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

.p-footer .p-footer__powerd-by {
  margin-bottom: 0;
  font-size: 1.2rem;
  color: #eee;
  text-align: right;
}

.p-footer .p-footer__powerd-by a {
  color: #eee;
  text-decoration: none;
}

.p-global-nav .menu {
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-bottom: 0;
  padding: 0;
}

.p-global-nav .menu .menu-item {
  margin: 0;
  padding: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  text-align: center;
}

.p-global-nav .menu .menu-item > a {
  display: block;
  text-decoration: none;
  padding: .8rem 1.6rem .4rem;
  color: #333;
}

.p-hamburger-menu {
  text-align: right;
}

.p-hamburger-menu :hover {
  cursor: pointer;
}

.p-hamburger-nav {
  display: none;
}

.p-hamburger-nav .menu {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.p-hamburger-nav .menu .menu-item {
  text-align: center;
  border-bottom: solid #aaa .1rem;
}

.p-hamburger-nav .menu .menu-item:last-child {
  border-bottom: none;
}

.p-hamburger-nav .menu .menu-item > a {
  display: block;
  padding: .8rem;
  text-decoration: none;
  color: #333;
}

.p-header__image {
  margin-left: -1.2rem;
  margin-right: -1.2rem;
}

.p-header__description {
  margin-bottom: 0;
  margin-left: .8rem;
}

@media (min-width: 40rem) {
  .p-header .p-header__image {
    margin-left: 0;
    margin-right: 0;
  }
}

.p-pager {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-pager .p-pager__previous a {
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 3.2rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.p-pager .p-pager__paginate .page-numbers {
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 3.2rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.p-pager .p-pager__paginate .page-numbers.current {
  cursor: default;
  background-color: blue;
  color: #fff;
  font-weight: bold;
}

.p-pager .p-pager__paginate .page-numbers.dots {
  cursor: default;
}

.p-pager .p-pager__next a {
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 3.2rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.page-links {
  text-align: center;
}

.page-links > a {
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 2.4rem;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.page-links > span {
  background-color: #00f;
  border: 1px solid #cccccc;
  color: #fff;
  display: inline-block;
  padding: 0.8rem 2.4rem;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
}

.p-sidebar .p-widget {
  border: 1px solid #cccccc;
  background-color: #eee;
  padding: .8rem;
  margin-bottom: 1.6rem;
}

.p-sidebar .p-widget .p-widget__title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
}

.p-single .p-single__title {
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-size: 3rem;
}

.p-single .p-single__meta {
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  text-align: right;
}

.p-single .p-single__post {
  display: inline-block;
}

.p-single .p-single__update {
  display: inline-block;
  margin-left: 1.6rem;
}

.p-single .p-single__tags {
  margin-top: .4rem;
}

.p-single .p-single__tags a {
  margin-right: .8rem;
}

.p-single .p-single__tags a:last-child {
  margin-right: 0;
}

.p-single h2 {
  font-size: 2.8rem;
}

.p-single h3 {
  font-size: 2.4rem;
}

.p-single h4 {
  font-size: 2.2rem;
}

.p-single h5 {
  font-size: 2.0rem;
}

.p-single h6 {
  font-size: 1.8rem;
}

.p-single p {
  font-size: 1.7rem;
  line-height: 1.8;
}

.p-single blockquote {
  border-left: .4rem solid #aaa;
  background-color: #eee;
  padding: 20px;
  margin-right: 0;
}

.p-single .p-single__comments {
  background-color: #ccc;
  padding: .8rem;
  margin-bottom: 1.6rem;
}

.p-site-brand__title {
  font-size: 3.6rem;
  margin-bottom: 0;
}

.p-site-brand__link {
  text-decoration: none;
  color: #333;
}

.u-visible {
  display: block;
}
