@import 'core/core';
@import 'foundation/foundation';
@import 'layout/layout';
@import 'object/object';

/* comment */
.p-comments {
	background-color: #ccc;
	padding: 10px;

	.comment-respond {
		background-color: #fff;
		padding: 10px;
		
		.comment-form {
			p {

				label {

				}
				input[type=text], input[type=email], input[type=url] {

				}
				&.form-submit {
					margin-bottom: 0;
				}
			}
			input {

			}
			textarea {
				width: 100%;
				height: auto;
			}
		}
	}
	
	#comments-list {
		list-style: none;
		padding-left: 0;
		
		.comment {
			background-color: #fff;
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid #aaa;
		}	
		.comment-metadata {
			font-size: 1.4rem;
		}
		.reply {
			text-align: right;
			padding: 5px;
		}
		.children {
			list-style: none;
			padding: 0;
			margin-left: 10px;	
		}
	}
}