.p-archive-entry__body {
	padding: .8rem;

	.p-archive-entry__title {
		margin-top: 0;
		font-size: 2.4rem;
		
		> a {
			text-decoration: none;
			color: #333;
		}
		
	}
	
	.p-archive-entry__excerpt {
		
		> a {
			text-decoration: none;
			color: #333;
		}
	}
	
	.p-archive-entry__meta {
		overflow: hidden;
		font-size: 1.2rem;
		
		.p-archive-entry__datetime {
			float: left;
			margin-right: 1.6rem;
		}
		.p-archive-entry__tags {
			float: left;
			
			> a {
				text-decoration: none;
				color: #333;
			}
		}
	}	
}