.p-archive {

	&__title {
		font-size: $font-size-heading-lgx2;
		margin-bottom: $margin-size-sm;
	}
	
	&__description {
		border: .1rem solid #cccccc;
		background-color: #fff;
		padding: $padding-size-xs;
		margin-bottom: $margin-size-lg;
		
		p:last-child {
			margin-bottom: 0;
		}
	}

	&__entry {
		margin-bottom: $margin-size-lg;
		padding-bottom: $padding-size-md;
		border: .1rem solid #cccccc;
		background-color: #fff;
	}
}