.p-archive {

	.p-archive__title {
		font-size: 2.8rem;
		margin-bottom: 1.6rem;
		color: #333;
	}
	
	.p-archive__description {
		border: .1rem solid #cccccc;
		background-color: #fff;
		padding: .8rem;
		margin-bottom: 3.2rem;
		
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.p-archive__entry {
		margin-bottom: 3.2rem;
		padding-bottom: 2.4rem;
		border: .1rem solid #cccccc;
		background-color: #fff;
	}
	
}