.p-archive {

	margin-bottom: $margin-size-sm;

	&__title {
		font-size: $font-size-heading-lgx2;
		margin-bottom: $margin-size-sm;
		
		padding: $padding-size-sm;
    border-top: .2rem solid blue;
    background-color: #eee;
	}
	
	&__description {
		background-color: #fff;
		border: .1rem solid #ccc;
		border-radius: .8rem;
		padding: $padding-size-sm;
		margin-bottom: $margin-size-lg;
		
		p:last-child {
			margin-bottom: 0;
		}
	}

	&__entry {
		margin-bottom: $margin-size-lg;
		padding-bottom: $padding-size-md;
		background-color: #fff;
		
		&.sticky {
			background-color: #eee;
		}
	}
}