.p-archive-entry__body {
	padding: $padding-size-xs;

	.p-archive-entry__title {
		font-size: $font-size-heading-lg;
		
		> a {
			text-decoration: none;
			color: $color-text;
		}
		
	}
	
	.p-archive-entry__excerpt {
		
		> a {
			text-decoration: none;
			color: $color-text;
		}
	}
	
	.p-archive-entry__meta {
		overflow: hidden;
		font-size: 1.2rem;
		
		.p-archive-entry__datetime {
			float: left;
			margin-right: $margin-size-sm;
		}
		.p-archive-entry__tags {
			float: left;
			
			> a {
				text-decoration: none;
				color: $color-text;
			}
		}
	}	
}