.p-comments {
	background-color: #ccc;
	padding: $padding-size-xs;
	margin-bottom: $margin-size-sm;
}

// コメントのタイトル
#comments {
	margin-top: 0;
	margin-bottom: $margin-size-sm;
	font-size: $font-size-heading-lg;
}

// コメントページャー
.navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: $margin-size-sm;
	
	.alignleft {
		> a {
			display: inline-block;
			text-decoration: none;
			color: #333;
	    background-color: #fff;
	    border: .1rem solid #ccc;
	    padding: $padding-size-xs $padding-size-sm;
	    cursor: pointer;
		}
	}
	.alignright {
		> a {
			display: inline-block;
			text-decoration: none;
			color: #333;
	    background-color: #fff;
	    border: .1rem solid #ccc;
	    padding: $padding-size-xs $padding-size-sm;
	    cursor: pointer;
		}
	}
}

// コメントの一覧
.commentlist {
	list-style: none;
	padding-left: 0;
	
	.comment {
		background-color: #fff;
		padding: $padding-size-xs;
		margin-bottom: $margin-size-sm;
		border: .1rem solid #cccccc;
		
		&.bypostauthor {
			background-color: #eee;
		}
	}
	.comment-metadata {
		font-size: 1.4rem;
		margin-bottom: $margin-size-xs;
		
		> a {
			text-decoration: none;
			color: $color-text;
		}
	}
	.reply {
		text-align: right;
		padding-right: $padding-size-xs;
		margin-bottom: $padding-size-xs;
	}
	.children {
		list-style: none;
		padding: 0;
		margin-left: $margin-size-xs;
	}
}

// コメントの送信フォーム
.comment-respond {
	background-color: #fff;
	padding: $padding-size-xs;
	margin-bottom: $margin-size-sm;
	border: .1rem solid #cccccc;

	.comment-reply-title {
		font-size: $font-size-heading-lg;
		margin-top: 0;
		margin-bottom: $margin-size-sm;
	}
	
	.comment-form {

		.comment-form-comment {
			label {
				display: block;
				margin-bottom: $margin-size-xs;
			}
		}
		
		.comment-form-author {
			display: flex;
			flex-wrap: wrap;
			
			label {
				flex: 0 1 33.33333%;
				padding: $padding-size-xs 0;
			}
			input[type=text] {
				flex: 0 1 66.66667%;
			}
		}
		.comment-form-email {
			display: flex;
			flex-wrap: wrap;
			
			label {
				flex: 0 1 33.33333%;
				padding: $padding-size-xs 0;
			}
			input[type=email] {
				flex: 0 1 66.66667%;
			}
		}
		.comment-form-url {
			display: flex;
			flex-wrap: wrap;
			
			label {
				flex: 0 1 33.33333%;
				padding: $padding-size-xs 0;
			}
			input[type=url] {
				flex: 0 1 66.66667%;
			}
		}
		.form-submit {
			margin-bottom: 0;
		}
		
		input[type=text], input[type=email], input[type=url] {
			background-color: #fff;
			border: .1rem solid #ccc;
			padding: $padding-size-xs $padding-size-sm;
		}
		input[type=submit] {
			color: $color-text;
			background-color: #fff;
			border: .1rem solid #ccc;
			padding: $padding-size-xs $padding-size-sm;
			cursor: pointer;
		}
		textarea {
			background-color: #fff;
			border: .1rem solid #ccc;
			padding: $padding-size-xs $padding-size-sm;
			width: 100%;
			height: auto;
		}
	}
}