.p-footer {

	.p-widget {
		border: 1px solid #cccccc;
		padding: .8rem;
		margin-bottom: 1.6rem;
		background-color: #eee;
		
		.p-widget__title {
			font-size: 2rem;
			margin-top: 0;
			margin-bottom: 1.6rem;
			text-align: center;
		}
	}
}