.p-footer {

	&__widget-area {
		padding: $padding-size-xs;
	}
	
	&__copyright {
		font-size: 1.4rem;
		color: #eee;
		text-align: center;
		margin-top: $margin-size-lg;
		margin-bottom: $margin-size-sm;
	}
	
	&__powerd-by {
		margin-bottom: 0;
		font-size: 1.2rem;
		color: #eee;
		text-align: right;
		
		> a {
			color: #eee;
			text-decoration: none;
		}
	}
}