.p-global-nav {
	
	.menu {
		list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 0;
    
    .menu-item {
	    margin: 0;
	    padding: 0;
	    flex: 0 1 auto;
	    padding: 0 $padding-size-xxs;
	    text-align: center;
    	
    	> a {
		    display: block;
		    text-decoration: none;
		    padding: $padding-size-xs $padding-size-sm;
		    background-color: #fff;
		    color: $color-text;
	    }
    }

    .current-menu-item {
    	
    }
	}
}