.p-hamburger-menu{
	text-align: right;
	display: inline-block;
	color: #333;
  background-color: #fff;
  border: .1rem solid #ccc;
  padding: $padding-size-xxs $padding-size-xs 0 $padding-size-xs;
  cursor: pointer;
	
	:hover {
		cursor: pointer;
	}
}