.p-hamburger-nav {
	display: none;
	
	.menu {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		
		.menu-item {
			text-align: center;
			border-bottom: solid #aaa .1rem;
			
			&:last-child{
				border-bottom: none;
			}
			
			> a {
				display: block;
				padding: $padding-size-xs;
				text-decoration: none;
				color: $color-text;
			}
		}
	}
}