.p-header {

	&__image {
		margin-left: -$margin-size-xs;
		margin-right: -$margin-size-xs;
	}
	
	&__description {
		margin-bottom: 0;
		margin-left: $margin-size-xs;
	}
	
	&__image {
		@media (min-width: $breakpoint-sm-to-md) {
			margin-left: 0;
			margin-right: 0;
		}
	}
}