.p-header {
	&__image {
		margin-left: -1.2rem;
		margin-right: -1.2rem;
	}
	
	&__description {
		margin-bottom: 0;
		margin-left: .8rem;
	}
}

@media (min-width: 40em) {

	.p-header {
		.p-header__image {
			margin-left: 0;
			margin-right: 0;
		}
	}
}