.p-pager {
	display: flex;
	justify-content: space-between;
	
	&__previous {
		
		> a {
			background-color: #fff;
	    border: .1rem solid #cccccc;
	    color: $color-text;
	    cursor: pointer;
	    display: inline-block;
	    padding: $padding-size-xs $padding-size-lg;
	    text-align: center;
	    text-decoration: none;
		}
	}
	
	&__paginate {
		
		.page-numbers {
			background-color: #fff;
	    border: .1rem solid #cccccc;
	    color: $color-text;
	    cursor: pointer;
	    display: inline-block;
	    padding: $padding-size-xs $padding-size-lg;
	    text-align: center;
	    text-decoration: none;
			
			&.current {
				cursor: default;
				background-color: blue;
				color: #fff;
				font-weight: bold;
			}		
			&.dots {
				cursor: default;
			}
		}
	}
	
	&__next {
		
		> a {
			background-color: #fff;
	    border: .1rem solid #cccccc;
	    color: $color-text;
	    cursor: pointer;
	    display: inline-block;
	    padding: $padding-size-xs $padding-size-lg;
	    text-align: center;
	    text-decoration: none;
		}
	}
}

.page-links {
	text-align: center;
	
	> a {
		background-color: #fff;
	  border: .1rem solid #cccccc;
	  color: $color-text;
	  cursor: pointer;
	  display: inline-block;
	 	padding: $padding-size-xs $padding-size-lg;
	  text-align: center;
	  text-decoration: none;
	}
	
	> span {
		background-color: #00f;
	  border: .1rem solid #cccccc;
	  color: #fff;
	  font-weight: bold;
	  display: inline-block;
	  padding: $padding-size-xs $padding-size-lg;
	  text-align: center;
	  text-decoration: none;
	}
}