.p-pager {
	display: flex;
	justify-content: space-between;
	
	&__previous {
		
		> a {
			background-color: #fff;
	    border: .1rem solid #ccc;
	    color: $color-text;
	    cursor: pointer;
	    display: inline-block;
	    padding: $padding-size-xs $padding-size-md;
	    text-align: center;
	    text-decoration: none;
		}
	}
	
	&__paginate {
		display: none;
		
		@media (min-width: $breakpoint-md-to-lg) {
			display: block;
		}
		
		.page-numbers {
			background-color: #fff;
	    border: .1rem solid #ccc;
	    color: $color-text;
	    cursor: pointer;
	    display: inline-block;
	    padding: $padding-size-xs $padding-size-md;
	    text-align: center;
	    text-decoration: none;
			
			&.current {
				cursor: default;
				background-color: #999;
				color: #fff;
				font-weight: bold;
			}		
			&.dots {
				cursor: default;
			}
		}
	}
	
	&__next {
		
		> a {
			background-color: #fff;
	    border: .1rem solid #ccc;
	    color: $color-text;
	    cursor: pointer;
	    display: inline-block;
	    padding: $padding-size-xs $padding-size-md;
	    text-align: center;
	    text-decoration: none;
		}
	}
}

.page-links {
	text-align: center;
	
	> a {
		background-color: #fff;
	  border: .1rem solid #ccc;
	  color: $color-text;
	  cursor: pointer;
	  display: inline-block;
	 	padding: $padding-size-xxs $padding-size-md;
	  text-align: center;
	  text-decoration: none;
	}
	
	> span {
		
		&.page-link {
			background-color: #999;
		  border: .1rem solid #cccccc;
		  color: #fff;
		  font-weight: bold;
		  display: inline-block;
		  padding: $padding-size-xxs $padding-size-md;
		  text-align: center;
		  text-decoration: none;
		}
	}
}