.p-sidebar {

	.p-widget {
		border: .1rem solid #cccccc;
		background-color: #eee;
		padding: $margin-size-xs;
		margin-bottom: $margin-size-sm;
		
		&__title {
			font-size: $font-size-heading-sm;
			margin-top: 0;
			margin-bottom: $margin-size-sm;
		}
	}
}