.p-single {
	
	.p-single__title {
		margin-top: 0;
		margin-bottom: 1.6rem;
		font-size: 2.8rem;
	}
	
	.p-single__meta {
		margin-bottom: 1.6rem;
		font-size: 1.4rem;
		text-align: right;
	}
	
	.p-single__post {
		display: inline-block;
	}
	.p-single__update {
		display: inline-block;
		margin-left: 1.6rem;
	}
	
	.p-single__tags {
		margin-top: .4rem;
	}
	
	.p-single__comments {
		background-color: #ccc;
		padding: .8rem;
		margin-bottom: 1.6rem;
	}
}