.p-single {
	
	.p-single__title {
		margin-top: 0;
		margin-bottom: 1.6rem;
		font-size: 3rem;
	}
	
	.p-single__meta {
		margin-bottom: 1.6rem;
		font-size: 1.4rem;
		text-align: right;
	}
	
	.p-single__post {
		display: inline-block;
	}
	.p-single__update {
		display: inline-block;
		margin-left: 1.6rem;
	}
	
	.p-single__tags {
		margin-top: .4rem;
		a {
			margin-right: .8rem;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	h2 {
		font-size: 2.8rem;
	}
	h3 {
		font-size: 2.4rem;
	}
	h4 {
		font-size: 2.2rem;
	}
	h5 {
		font-size: 2.0rem;
	}
	h6 {
		font-size: 1.8rem;
	}
	p {
		font-size: 1.7rem;
		line-height: 1.8;
	}
	blockquote {
    border-left: .4rem solid #aaa;
    background-color: #eee;
    padding: 20px;
    margin-right: 0;
  }
	
	.p-single__comments {
		background-color: #ccc;
		padding: .8rem;
		margin-bottom: 1.6rem;
	}
}