.p-single {
	
	&__title {
		font-size: $font-size-heading-lgx2;
		margin-top: 0;
		margin-bottom: $margin-size-sm;
	}
	
	&__meta {
		margin-bottom: $margin-size-sm;
		font-size: 1.4rem;
		text-align: right;
	}
	
	&__post {
		display: inline-block;
	}
	&__update {
		display: inline-block;
		margin-left: $margin-size-sm;
	}
	
	&__tags {
		margin-top: $margin-size-xs;
		> a {
			margin-right: $margin-size-xs;
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	h2 {
		font-size: $font-size-heading-lgx;
	}
	h3 {
		font-size: $font-size-heading-lg;
	}
	h4 {
		font-size: $font-size-heading-md;
	}
	h5 {
		font-size: $font-size-heading-sm;
	}
	h6 {
		font-size: $font-size-heading-xs;
	}
	p {
		font-size: 1.7rem;
		line-height: 1.8;
	}
	blockquote {
    border-left: .4rem solid #aaa;
    background-color: #eee;
    padding: $padding-size-md;
    margin-right: 0;
  }
	
	.p-single__comments {
		background-color: #ccc;
		padding: $padding-size-xs;
		margin-bottom: $margin-size-sm;
	}
}