.p-widget {
	border: 1px solid #000;
	padding: .8rem;
	margin-bottom: 1.6rem;
	
	.p-widget__title {
		font-size: 2rem;
		margin-top: 0;
	}
	
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		
		li {
			margin-bottom: .8rem;
			
			ul {
				
				li {
					padding-left: 1.6rem;
					border-right: none;
					border-bottom: none;
					margin-bottom: 0;
				}
				
				a {
					border-top: none;
				}
			}		
			
			a {
				display: block;
				border: 1px solid #000;
				padding: .8rem 2.4rem .8rem .8rem;
				text-decoration: none;
				position: relative;
				
				&:after {
					position: absolute;
					right: .8rem;
					top: 50%;
					margin-top: -1.2rem;
					content: '\f054';
					font-family: FontAwesome;
				}
			}
		} //li
	} // ul
	
	#recentcomments {
	
		li {
			margin-bottom: .8rem;
			padding: .8rem;
			border: 1px solid #000;
		
			a {
				display: inline;
				padding: 0;
				text-decoration: none;
				position: relative;
				
				&:after {
					position: absolute;
					right: .8rem;
					top: 50%;
					margin-top: -1.2rem;
					content: '';
					font-family: FontAwesome;
				}
			}
		}
	} // #recentcomments
	
	#wp-calendar {
		width: 100%;
		
		tbody {
			tr {
				td {
					text-align: center;
				}
			}
		}
	} // #wp-calendar
} // .p-widget