// RSS
.widget_rss {

	ul {
		padding-left: $padding-size-md;
		
		li {
			margin-bottom: $margin-size-xs;
			color: $color-text-thin;
			
			.rsswidget {
			
			}
			.rssSummary {
				margin-top: $margin-size-xs;
				margin-bottom: $margin-size-xs;
				font-size: 1.4rem;
			}
			cite {
				font-size: 1.4rem;
			}
			.rss-date {
				font-size: 1.4rem;
			}
		}
	}
}

// 最近の投稿
.widget_recent_entries {

	ul {
		padding-left: $padding-size-md;
	
		li {
			color: #aaa;
			margin-bottom: $margin-size-xs;
			
			> a {
				// color: #333;
				margin-right: $margin-size-xs;
			}
			.post-date {
				font-size: 1.2rem;
				color: $color-text-thin;
			}
		}
	}
}

// カスタムメニュー
.widget_nav_menu {
	
	.menu {
		padding-left: $padding-size-md;
		
		.menu-item {
			margin-top: $margin-size-xs;
			margin-bottom: $margin-size-xs;
			color: $color-text-thin;
			
			.sub-menu {
				padding-left: 0;
				margin-left: $margin-size-xs;
				
				.menu-item {
					list-style: none;
					
					&:before {
						content: 'ー';
						margin-right: $margin-size-xs;
					}
				}
			}
		}
	}
}

// カテゴリー
.widget_categories {

	// ドロップダウンリスト
	.postform {
		background-color: #fff;
		border: .1rem solid #ccc;
		border-radius: 0;	
		padding: $padding-size-xs $padding-size-sm;
		max-width: 100%;
	}
	
	ul {
		padding-left: $padding-size-md;
		
		.cat-item {
			margin-top: $margin-size-xs;
			margin-bottom: $margin-size-xs;
			color: $color-text-thin;
			
			.children {
				padding-left: 0;
				margin-left: $margin-size-xs;
				
				.cat-item {
					list-style: none;
					
					&:before {
						content: 'ー';
						margin-right: $margin-size-xs;
					}
				}
			}
		}
	}
}

// アーカイブ
.widget_archive {
	
	select {
		background-color: #fff;
		border: .1rem solid #ccc;
		padding: $padding-size-xs $padding-size-sm;
		max-width: 100%;
	}
	
	ul {
		padding-left: $padding-size-md;
		
		li {
			margin-bottom: $margin-size-xs;
			color: $color-text-thin;
		}
	}
}

// タグクラウド
.widget_tag_cloud {

	.tagcloud {
		> a {
			background-color: #fff;
	    border: .1rem solid #cccccc;
	    color: $color-text;
	    cursor: pointer;
	    display: inline-block;
	    padding: $padding-size-xs $padding-size-lg;
	    text-align: center;
	    text-decoration: none;
			margin-bottom: $margin-size-xs;
			font-size: 1.2rem;
		}
	}
}

// 最近のコメント
.widget_recent_comments {

	ul {
		padding-left: $padding-size-md;
		
		.recentcomments {
			margin-bottom: $margin-size-xs;
			color: $color-text-thin;

			.comment-author-link {
			}
		}
	}
}

// カレンダー
.widget_calendar {

	#wp-calendar {
		width: 100%;
		
		tbody {
			tr {
				td {
					text-align: center;
				}
			}
		}
	}
}

// テキスト
.widget_text {

	.textwidget {
	}
}

// 固定ページ
.widget_pages {

	ul {
		padding-left: $padding-size-md;
		
		.page_item {
			margin-bottom: $margin-size-xs;
			color: $color-text-thin;
		}
	}
}

// メタ情報
.widget_meta {
	
	ul {
		padding-left: $padding-size-md;
		
		li {
			margin-bottom: $margin-size-xs;
			color: $color-text-thin;
		}
	}
}