* {
	&, &:before, &:after {
		box-sizing: border-box;
	}
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: #333;
	font-family: 'Meiryo UI', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', Roboto, sans-serif;
	font-size: 1.6rem;
	line-height: 1.8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code, kbd, pre, samp {
	font-family: monospace;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

p, ul, ol, dl, table, pre, blockquote {
	margin-top: 0;
	margin-bottom: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-top: 0;
}

h1 {
	font-size: 3.2rem;
	line-height: 1;
}

h2 {
	font-size: 2.8rem;
	line-height: 1;
}

h3 {
	font-size: 2.4rem;
	line-height: 1;
}

h4 {
	font-size: 2.2rem;
	line-height: 1;
}

h5 {
	font-size: 2rem;
	line-height: 1;
}

h6 {
	font-size: 1.8rem;
	line-height: 1;
}