.c-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $padding-size-xs;
  padding-left: $padding-size-xs;
  
  @media (min-width: $breakpoint-sm-to-md) {
  	padding-right: $padding-size-md;
    padding-left: $padding-size-md;
  }
  
  @media (min-width: $breakpoint-md-to-lg) {
		max-width: 120rem;
	}
}

.c-row {
	display: flex;
	flex-wrap: wrap;

	&.c-row--between {
		justify-content: space-between;
	}

	&.c-row--reverse {
		flex-direction: row-reverse;
	}
	
	&.c-row--auto {
	  > .c-row__col {
	  	flex: 0 1 auto;
	  }
	}
	
	&.c-row--nowrap {
	  flex-wrap: nowrap;
	}

	&__col {
		flex: 1;
		
		&--1-1 {
			flex: 0 1 100%;
		}
		
		&--md-2-3 {
			@media (min-width: $breakpoint-md-to-lg) {
				flex: 0 1 66.66667%;
			}
		}
		&--md-1-3 {
			@media (min-width: $breakpoint-md-to-lg) {
				flex: 0 1 33.33333%;
			}
		}
	
		&.c-row_col--sm-1-1 {
			@media screen and (max-width: $breakpoint-md-to-lg) {
				flex: 0 1 100%;
			}
		}
	}
}