/*!
 * Name: Basis v4.2.7
 * Description: The flexbox based CSS framework.
 * Author: Takashi Kitajima ( inc2734 )
 * Author URL: http://2inc.org
 * GitHub Repository: https://github.com/sass-basis/basis
 * License: MIT
 */
.staffs {
  display: flex;
  flex-wrap: wrap;
}

.staffs .staff {
  flex: 1;
  max-width: 100%;
  flex: 0 1 33.33333%;
  max-width: 33.33333%;
}
